body{
    color: black;
}
@font-face {
    font-family: 'Alias-Cactus-Black';
    src: url('../fonts/Alias-Cactus-Black.woff') format('woff'),
      url('../fonts/Alias-Cactus-Black.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}

h2{
    font-family: 'Alias-Cactus-Black';
    font-size: 100px;
}
h3{
    font-family: 'Alias-Cactus-Black';
    font-size: 50px;
}
